<!DOCTYPE html>
<html>
  <head>
    <title>CryptoPricePro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Coin Gazer</a>
        <ul id="nav-mobile" class="right">
          <% if user_signed_in? %>
            <li><%= "Welcome back #{current_user.first_name}!" %></li>
            <li><%= link_to "Current Price Alerts", notifications_path %></li>
            <li><%= link_to "My Account", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
            <script type="text/javascript">
              Materialize.toast('<%= notice %>', 6000)
            </script>
          <% elsif flash[:error] %>
            <script type="text/javascript">
              Materialize.toast('<%= flash[:error] %>', 6000)
            </script>
          <% elsif flash[:alert] %>
            <script type="text/javascript">
              Materialize.toast('<%= alert %>', 6000)
            </script>
      <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
