<!DOCTYPE html>
<html>
  <head>
    <title>CryptoPricePro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Coin Gazer</a>
        <ul id="nav-mobile" class="right">
          <% if user_signed_in? %>
            <li><%= "Welcome back #{current_user.first_name}!" %></li>
            <li><%= link_to "Current Price Alerts", notifications_path %></li>
            <li><%= link_to "My Account", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="flash-notices">
      <% flash.each do |type, message| %>
        <div class="flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
